#home_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.course {
    max-width: 360px;
    width: 100%;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.course_image {
    width: 100%;
    height: 60%;
    object-fit: cover;
}