body {
    background-color: rgb(33, 3, 3); 
    margin: 0; 
    font-family: Arial, sans-serif; 
  }
  
  header {
    background-color: #000000; 
    color: #be1515; 
    padding: 20px;
  }
  
  h1 {
    margin: 0;
  }
  
  .container {
    display: grid;

    gap: 20px;
    margin: 20px auto;
  }
  
  .quiz {
    background-color: #000000; 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    cursor: pointer;
  }
  
  h2 {
    margin-top: 0;
    color: #b91515; 
  }
  
  a {
    color: #0066cc; 
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  
  

  .App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .container {
    flex: 1;
  }
  
  footer {
    background-color: #431b1b;
    color: #000000;
    padding: 1px;
    text-align: center;
    position: sticky;
    bottom: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
  }
  


  #quizzes{
    justify-content: center;
    text-align: center;
  }