* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .container {
    margin: 1rem;
    text-align: center;
  }
  
  .nav {
    background-color: #8d8989;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
  }
  
  .site-title {
    font-size: 2rem;
    
  }
  
  .nav ul {
    padding: 30px;
    margin: 0;
    list-style: none;
    display: flex; 
  }
  
  .nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .50rem;
  }
  
  .nav li.active {
    background-color: #555;
  }
  
  .nav li:hover {
    background-color: #777;
  }

  #hovedskrift{
font-size: 100px;
  }


#dromtorplogo{
    width: 100%;
}

#gymside {
    display: flex;
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    justify-content: left;
    text-align: left;

}






#mentzer {
width: 50%;
margin-left: auto;
}




